<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />

    <link rel="stylesheet" href="../../style.css" />
    <title>Typography</title>
  </head>
  <body>
    <div class="container">
      <nav>
        <div class="left-nav">
          <a href="/index.html">Aqua UI</a>
        </div>
        <ul class="right-nav">
          <li><a href="#">Documentation</a></li>
          <li><a href="#">Examples</a></li>
        </ul>
      </nav>

      <main>
        <h1 class="main-heading">Typography</h1>
        <h4 class="heading-info">
          You can use the following text utilities for your typography.
        </h4>
        <h3 class="sub-heading">Below is an example for headings.</h3>
        <section class="component">
          <h1>Heading</h1>
          <h2>Heading</h2>
          <h3>Heading</h3>
          <h4>Heading</h4>
          <h5>Heading</h5>
        </section>
        <div class="code-snippet">
          <pre class="code-prism">
            <code class='language-html'>
            &lt;h1&gt;Heading&lt;/h1&gt;
            &lt;h2&gt;Heading&lt;/h2&gt;
            &lt;h3&gt;Heading&lt;/h3&gt;
            &lt;h4&gt;Heading&lt;/h4&gt;
            &lt;h5&gt;Heading&lt;/h5&gt;
            </code>
          </pre>
        </div>
        <h3 class="sub-heading">
          Below is an example for different text sizes
        </h3>
        <section class="component">
          <p class="text-xlg">Text</p>
          <p class="text-lg">Text</p>
          <p class="text-md">Text</p>
          <p class="text-sm">Text</p>
          <p class="text-xsm">Text</p>
        </section>
        <div class="code-snippet">
          <pre class="code-prism">
            <code class='language-html'>
            &lt;p class=&quot;text-xlg&quot;&gt;Text&lt;/p&gt;
            &lt;p class=&quot;text-lg&quot;&gt;Text&lt;/p&gt;
            &lt;p class=&quot;text-md&quot;&gt;Text&lt;/p&gt;
            &lt;p class=&quot;text-sm&quot;&gt;Text&lt;/p&gt;
            &lt;p class=&quot;text-xsm&quot;&gt;Text&lt;/p&gt;
            </code>
          </pre>
        </div>
        <h3 class="sub-heading">Below is an example for colored text.</h3>
        <section class="component">
          <p class="text-gray text-xlg">Text</p>
          <p class="text-red text-xlg">Text</p>
          <p class="text-green text-xlg">Text</p>
        </section>
        <div class="code-snippet">
          <pre class="code-prism">
            <code class='language-html'>
            &lt;p class=&quot;text-gray text-xlg&quot;&gt;Text&lt;/p&gt;
            &lt;p class=&quot;text-red text-xlg&quot;&gt;Text&lt;/p&gt;
            &lt;p class=&quot;text-green text-xlg&quot;&gt;Text&lt;/p&gt;
            </code>
          </pre>
        </div>
        <h3 class="sub-heading">Below is an example for centered text.</h3>
        <section class="component">
          <p class="text-xlg text-center">Centered Text</p>
        </section>
        <div class="code-snippet">
          <pre class="code-prism">
              <code class="language-html">
                &lt;p class=&quot;text-xlg text-center&quot;&gt; Centered Text&lt;/p&gt;
              </code>
           </pre>
        </div>
      </main>
      <div class="sidebar">
        <!-- Get Started List Start -->
        <div>
          <div class="list-topic">
            <a href="#"> Get Started </a>
          </div>
          <ul class="list-subtopic">
            <li>
              <a href="/get-started/introduction.html"> Introduction </a>
            </li>
          </ul>
        </div>
        <!-- Components List start -->
        <div>
          <div class="list-topic">
            <a href="#">Components</a>
          </div>
          <ul class="list-subtopic">
            <li>
              <a href="/components/avatar/avatar.html"> Avatar </a>
            </li>
            <li>
              <a href="/components/alert/alert.html"> Alert </a>
            </li>
            <li>
              <a href="/components/badge/badge.html"> Badge </a>
            </li>
            <li>
              <a href="/components/button/button.html"> Button </a>
            </li>
            <li>
              <a href="/components/cards/cards.html"> Card </a>
            </li>
            <li>
              <a href="/components/images/images.html"> Image </a>
            </li>
            <li>
              <a href="/components/input/input.html"> Input </a>
            </li>
            <li>
              <a href="/components/navigation/navigation.html"> Navigation </a>
            </li>
            <li>
              <a href="/components/rating/rating.html"> Rating </a>
            </li>
            <li>
              <a href="/components/modal/modal.html"> Modal </a>
            </li>
            <li>
              <a href="/components/typography/typography.html"> Typography </a>
            </li>
            <li>
              <a href="/components/list/list.html"> List </a>
            </li>
            <li>
              <a href="/components/toast/toast.html"> Toast </a>
            </li>
            <li>
              <a href="/components/grid/grid.html"> Grid </a>
            </li>
            <li>
              <a href="/components/slider/slider.html"> Slider </a>
            </li>
          </ul>
        </div>
      </div>

      <footer class="footer">
        <li>
          <a href="/components/modal/modal.html">< Prev Page</a>
        </li>
        <li><a href="/components/list/list.html">Next Page ></a></li>
      </footer>
    </div>

    <script src="/css/prism/prism.js"></script>
  </body>
</html>
