<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link rel="stylesheet" href="../../style.css" />
    <title>Input</title>
  </head>
  <body>
    <div class="container">
      <nav>
        <div class="left-nav">
          <a href="/index.html">Aqua UI</a>
        </div>
        <ul class="right-nav">
          <li><a href="#">Documentation</a></li>
          <li><a href="#">Examples</a></li>
        </ul>
      </nav>

      <main>
        <h1 class="main-heading">Input</h1>
        <h4 class="heading-info">
          Inputs can be used for user interaction with the website. Will take
          information from the user, and then save the data to the server.
        </h4>
        <h3 class="sub-heading">Below is an example for input with validation.</h3>
        <section class="component">
          <div class="input-container">
            <div class="input">
              <input type="text" class="input-error input-style" />
              <div class="error input-label">Label</div>
            </div>

            <div class="input">
              <input type="text" class="input-warning input-style" />
              <div class="warning input-label">Label</div>
            </div>

            <div class="input">
              <input type="text" class="input-success input-style" />
              <div class="success input-label">Label</div>
            </div>
          </div>
        </section>
        <div class="code-snippet">
          <pre class="code-prism">
    <code class='language-html'>
           &lt;div class=&quot;input&quot;&gt;
              &lt;input type=&quot;text&quot; class=&quot;input-error input-style&quot; /&gt;
              &lt;div class=&quot;error input-label&quot;&gt;Label&lt;/div&gt;
            &lt;/div&gt;

            &lt;div class=&quot;input&quot;&gt;
              &lt;input type=&quot;text&quot; class=&quot;input-warning input-style&quot; /&gt;
              &lt;div class=&quot;warning input-label&quot;&gt;Label&lt;/div&gt;
            &lt;/div&gt;

            &lt;div class=&quot;input&quot;&gt;
              &lt;input type=&quot;text&quot; class=&quot;input-success input-style&quot; /&gt;
              &lt;div class=&quot;success input-label&quot;&gt;Label&lt;/div&gt;
            &lt;/div&gt;
    </code>
   </pre>
        </div>
        <h3 class="sub-heading">Below is an example for textbox.</h3>
        <section class="component">
          <textarea class="input-textarea" type="text" required></textarea>
        </section>
        <div class="code-snippet">
          <pre class="code-prism">
    <code class='language-html'>
           &lt;textarea class=&quot;textarea&quot; type=&quot;text&quot; required&gt;&lt;/textarea&gt;
    </code>
   </pre>
        </div>
      </main>
      <div class="sidebar">
        <!-- Get Started List Start -->
        <div>
          <div class="list-topic">
            <a href="#"> Get Started </a>
          </div>
          <ul class="list-subtopic">
            <li>
              <a href="/get-started/introduction.html"> Introduction </a>
            </li>
          </ul>
        </div>
        <!-- Components List start -->
        <div>
          <div class="list-topic">
            <a href="#">Components</a>
          </div>
          <ul class="list-subtopic">
            <li>
              <a href="/components/avatar/avatar.html"> Avatar </a>
            </li>
            <li>
              <a href="/components/alert/alert.html"> Alert </a>
            </li>
            <li>
              <a href="/components/badge/badge.html"> Badge </a>
            </li>
            <li>
              <a href="/components/button/button.html"> Button </a>
            </li>
            <li>
              <a href="/components/cards/cards.html"> Card </a>
            </li>
            <li>
              <a href="/components/images/images.html"> Image </a>
            </li>
            <li>
              <a href="/components/input/input.html"> Input </a>
            </li>
            <li>
              <a href="/components/navigation/navigation.html"> Navigation </a>
            </li>
            <li>
              <a href="/components/rating/rating.html"> Rating </a>
            </li>
            <li>
              <a href="/components/modal/modal.html"> Modal </a>
            </li>
            <li>
              <a href="/components/typography/typography.html"> Typography </a>
            </li>
            <li>
              <a href="/components/list/list.html"> List </a>
            </li>
            <li>
              <a href="/components/toast/toast.html"> Toast </a>
            </li>
            <li>
              <a href="/components/grid/grid.html"> Grid </a>
            </li>
            <li>
              <a href="/components/slider/slider.html"> Slider </a>
            </li>
          </ul>
        </div>
      </div>

      <footer class="footer">
        <li><a href="/components/images/images.html">< Prev Page</a></li>
        <li><a href="/components/navigation/navigation.html">Next Page ></a></li>
      </footer>
    </div>
    <script src="/css/prism/prism.js"></script>
  </body>
</html>
