.component {
  border: 1px solid var(--border-color);
  margin: 4rem;
  padding: 2.5rem;
  border-radius: 0.7rem;
}

.circle {
  margin: 0 1rem;
  border-radius: 50%;
  object-fit: cover;
}
.avatar-vlarge {
  height: 15rem;
  width: 15rem;
}

.avatar-large {
  height: 12rem;
  width: 12rem;
}

.avatar-medium {
  height: 9rem;
  width: 9rem;
}
.avatar-small {
  height: 6rem;
  width: 6rem;
}
.avatar-xsmall {
  height: 3rem;
  width: 3rem;
}



