main {
  padding: 2rem;
  font-size: 1.5rem;
}

main .main-heading{
  margin-bottom: 2rem;
}

main .sub-heading{
  margin:2rem 0 0 4rem;
}

main .heading-info{
  margin-bottom: 3rem;
}

main .sub-heading-info{
   margin: 1rem 0 0 4rem;
}