.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.sidebar div {
  margin: 2rem 1rem 0;
}

.sidebar a {
  color: black;
  text-decoration: none;
}

.list-topic {
  font-weight: 900;
  font-size: 1.8rem;
}

.list-subtopic li {
  list-style-type: none;
  margin: 2rem 0;
  font-size: 1.4rem;
  text-align: center;
  font-weight: 700;
}

.list-subtopic li:hover {
  transform: scale(1.2);
}
.list-subtopic a:hover {
  color: rgb(17, 17, 121);
}
