<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />

    <link rel="stylesheet" href="../../style.css" />
    <title>Navigation</title>
  </head>
  <body>
    <div class="container">
      <nav>
        <div class="left-nav">
          <a href="/index.html">Aqua UI</a>
        </div>
        <ul class="right-nav">
          <li><a href="#">Documentation</a></li>
          <li><a href="#">Examples</a></li>
        </ul>
      </nav>

      <main>
        <h1 class="main-heading">Navigation</h1>
        <h4 class="heading-info">
          Navigation bar is used to navigate through the web apps or websites.
          They can be in horizontal or vertical shape.
        </h4>
        <h3 class="sub-heading">Below is an example for horizontal navigation bar.</h3>
        <section class="component">
          <nav class="navigation-hz">
            <div class="left-nav">
              <a href="#" class="nav-logo">LOGO</a>
            </div>
            <div class="right-nav">
              <li><a class="link" href="#">HOME</a></li>
              <li><a class="link" href="#">CONTACT</a></li>
              <li><a class="link" href="#">ABOUT</a></li>
            </div>
          </nav>
        </section>
        <div class="code-snippet">
          <pre class="code-prism">
            <code class='language-html'>
          &lt;nav class=&quot;navigation-hz&quot;&gt;
            &lt;div class=&quot;left-nav&quot;&gt;
              &lt;a href=&quot;#&quot; class=&quot;nav-logo&quot;&gt;LOGO&lt;/a&gt;
            &lt;/div&gt;
            &lt;div class=&quot;right-nav&quot;&gt;
              &lt;li&gt;&lt;a class=&quot;link&quot; href=&quot;#&quot;&gt;HOME&lt;/a&gt;&lt;/li&gt;
              &lt;li&gt;&lt;a class=&quot;link&quot; href=&quot;#&quot;&gt;CONTACT&lt;/a&gt;&lt;/li&gt;
              &lt;li&gt;&lt;a class=&quot;link&quot; href=&quot;#&quot;&gt;ABOUT&lt;/a&gt;&lt;/li&gt;
            &lt;/div&gt;
          &lt;/nav&gt;
            </code>
          </pre>
        </div>
        <h3 class="sub-heading">Below is an example for vertical navigation bar.</h3>
        <section class="component">
          <nav class="navigation nav-vr">
            <ul class="nav-ul">
              <li><a class="active link" href="#">LOGO</a></li>
              <li><a href="#" class="link">HOME</a></li>
              <li><a href="#" class="link">CONTACT</a></li>
              <li><a href="#" class="link">ABOUT</a></li>
            </ul>
          </nav>
        </section>
        <div class="code-snippet">
          <pre class="code-prism">
            <code class='language-html'>
          &lt;nav class=&quot;navigation nav-vr&quot;&gt;
            &lt;ul class=&quot;nav-ul&quot;&gt;
              &lt;li&gt;&lt;a class=&quot;active link&quot; href=&quot;#&quot;&gt;LOGO&lt;/a&gt;&lt;/li&gt;
              &lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;link&quot;&gt;HOME&lt;/a&gt;&lt;/li&gt;
              &lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;link&quot;&gt;CONTACT&lt;/a&gt;&lt;/li&gt;
              &lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;link&quot;&gt;ABOUT&lt;/a&gt;&lt;/li&gt;
            &lt;/ul&gt;
          &lt;/nav&gt;
            </code>
          </pre>
        </div>
      </main>
      <div class="sidebar">
        <!-- Get Started List Start -->
        <div>
          <div class="list-topic">
            <a href="#"> Get Started </a>
          </div>
          <ul class="list-subtopic">
            <li>
              <a href="/get-started/introduction.html"> Introduction </a>
            </li>
          </ul>
        </div>
        <!-- Components List start -->
        <div>
          <div class="list-topic">
            <a href="#">Components</a>
          </div>
          <ul class="list-subtopic">
            <li>
              <a href="/components/avatar/avatar.html"> Avatar </a>
            </li>
            <li>
              <a href="/components/alert/alert.html"> Alert </a>
            </li>
            <li>
              <a href="/components/badge/badge.html"> Badge </a>
            </li>
            <li>
              <a href="/components/button/button.html"> Button </a>
            </li>
            <li>
              <a href="/components/cards/cards.html"> Card </a>
            </li>
            <li>
              <a href="/components/images/images.html"> Image </a>
            </li>
            <li>
              <a href="/components/input/input.html"> Input </a>
            </li>
            <li>
              <a href="/components/navigation/navigation.html"> Navigation </a>
            </li>
            <li>
              <a href="/components/rating/rating.html"> Rating </a>
            </li>
            <li>
              <a href="/components/modal/modal.html"> Modal </a>
            </li>
            <li>
              <a href="/components/typography/typography.html"> Typography </a>
            </li>
            <li>
              <a href="/components/list/list.html"> List </a>
            </li>
            <li>
              <a href="/components/toast/toast.html"> Toast </a>
            </li>
            <li>
              <a href="/components/grid/grid.html"> Grid </a>
            </li>
            <li>
              <a href="/components/slider/slider.html"> Slider </a>
            </li>
          </ul>
        </div>
      </div>

      <footer class="footer">
        <li><a href="/components/input/input.html">< Prev Page</a></li>
        <li><a href="/components/rating/rating.html">Next Page ></a></li>
      </footer>
    </div>

    <script src="/css/prism/prism.js"></script>
  </body>
</html>
