<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />

    <link rel="stylesheet" href="../../style.css" />
    <title>Rating</title>
  </head>
  <body>
    <div class="container">
      <nav>
        <div class="left-nav">
          <a href="/index.html">Aqua UI</a>
        </div>
        <ul class="right-nav">
          <li><a href="#">Documentation</a></li>
          <li><a href="#">Examples</a></li>
        </ul>
      </nav>

      <main>
        <h1 class="main-heading">Rating</h1>
        <h4 class="heading-info">
          These components can be used to get reviews from the users. They are
          found widely in web applications.
        </h4>
        <h3 class="sub-heading">Below is an example for rating bar.</h3>
        <section class="rating-component">
          <div class="rating-wrapper">
            <input type="radio" id="star-1" name="rating" />
            <label for="star-1"></label>
            <input type="radio" id="star-2" name="rating" />
            <label for="star-2"></label>
            <input type="radio" id="star-3" name="rating" />
            <label for="star-3"></label>
            <input type="radio" id="star-4" name="rating" />
            <label for="star-4"></label>
            <input type="radio" id="star-5" name="rating" />
            <label for="star-5"></label>
          </div>
        </section>
        <div class="code-snippet">
          <pre class="code-prism">
            <code class='language-html'>
          &lt;div class=&quot;rating-wrapper&quot;&gt;
            &lt;input type=&quot;radio&quot; id=&quot;star-1&quot; name=&quot;rating&quot; /&gt;
            &lt;label for=&quot;star-1&quot;&gt;&lt;/label&gt;
            &lt;input type=&quot;radio&quot; id=&quot;star-2&quot; name=&quot;rating&quot; /&gt;
            &lt;label for=&quot;star-2&quot;&gt;&lt;/label&gt;
            &lt;input type=&quot;radio&quot; id=&quot;star-3&quot; name=&quot;rating&quot; /&gt;
            &lt;label for=&quot;star-3&quot;&gt;&lt;/label&gt;
            &lt;input type=&quot;radio&quot; id=&quot;star-4&quot; name=&quot;rating&quot; /&gt;
            &lt;label for=&quot;star-4&quot;&gt;&lt;/label&gt;
            &lt;input type=&quot;radio&quot; id=&quot;star-5&quot; name=&quot;rating&quot; /&gt;
            &lt;label for=&quot;star-5&quot;&gt;&lt;/label&gt;
          &lt;/div&gt;
            </code>
          </pre>
        </div>
      </main>
      <div class="sidebar">
        <!-- Get Started List Start -->
        <div>
          <div class="list-topic">
            <a href="#"> Get Started </a>
          </div>
          <ul class="list-subtopic">
            <li>
              <a href="/get-started/introduction.html"> Introduction </a>
            </li>
          </ul>
        </div>
        <!-- Components List start -->
        <div>
          <div class="list-topic">
            <a href="#">Components</a>
          </div>
          <ul class="list-subtopic">
            <li>
              <a href="/components/avatar/avatar.html"> Avatar </a>
            </li>
            <li>
              <a href="/components/alert/alert.html"> Alert </a>
            </li>
            <li>
              <a href="/components/badge/badge.html"> Badge </a>
            </li>
            <li>
              <a href="/components/button/button.html"> Button </a>
            </li>
            <li>
              <a href="/components/cards/cards.html"> Card </a>
            </li>
            <li>
              <a href="/components/images/images.html"> Image </a>
            </li>
            <li>
              <a href="/components/input/input.html"> Input </a>
            </li>
            <li>
              <a href="/components/navigation/navigation.html"> Navigation </a>
            </li>
            <li>
              <a href="/components/rating/rating.html"> Rating </a>
            </li>
            <li>
              <a href="/components/modal/modal.html"> Modal </a>
            </li>
            <li>
              <a href="/components/typography/typography.html"> Typography </a>
            </li>
            <li>
              <a href="/components/list/list.html"> List </a>
            </li>
            <li>
              <a href="/components/toast/toast.html"> Toast </a>
            </li>
            <li>
              <a href="/components/grid/grid.html"> Grid </a>
            </li>
            <li>
              <a href="/components/slider/slider.html"> Slider </a>
            </li>
          </ul>
        </div>
      </div>

      <footer class="footer">
        <li><a href="/components/navigation/navigation.html">< Prev Page</a></li>
        <li><a href="/components/modal/modal.html">Next Page ></a></li>
      </footer>
    </div>

    <script src="/css/prism/prism.js"></script>
  </body>
</html>
