<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    
    <link rel="stylesheet" href="../../style.css" />
    <title>Badge</title>
  </head>
  <body>

    <div class="container">
      <nav>
        <div class="left-nav">
          <a href="/index.html">Aqua UI</a>
        </div>
        <ul class="right-nav">
          <li><a href="#">Documentation</a></li>
          <li><a href="#">Examples</a></li>
        </ul>
      </nav>

      <main>
        <h1 class="main-heading">Badge</h1>
        <h4 class="heading-info">
          Badges can be used to display a notification count or status
          information that suits our needs.
        </h4>
        <h3 class="sub-heading">Below is an example for badge on Icons.</h3>
        <section class="badge-component">
          <div class="badge-container">
            <div>
              <span class="icon">
                <span><i class="fas fa-home"></i></span>
                <span class="icon-badge">5</span>
              </span>
              <span class="icon">
                <span><i class="fas fa-bell"></i></span>
                <span class="icon-badge">5</span>
              </span>
              <span class="icon">
                <span><i class="fas fa-envelope"></i></span>
                <span class="icon-badge">5</span>
              </span>
              <span class="icon">
                <span><i class="fas fa-shopping-cart"></i></span>
                <span class="icon-badge">5</span>
              </span>
            </div>
          </div>
        </section>
        <div class="code-snippet">
   <pre class="code-prism">
    <code class='language-html'>
          &lt;span class=&quot;icon&quot;&gt;
                &lt;span&gt;&lt;i class=&quot;fas fa-home&quot;&gt;&lt;/i&gt;&lt;/span&gt;
                &lt;span class=&quot;icon-badge&quot;&gt;5&lt;/span&gt;
              &lt;/span&gt;
              &lt;span class=&quot;icon&quot;&gt;
                &lt;span&gt;&lt;i class=&quot;fas fa-bell&quot;&gt;&lt;/i&gt;&lt;/span&gt;
                &lt;span class=&quot;icon-badge&quot;&gt;5&lt;/span&gt;
              &lt;/span&gt;
              &lt;span class=&quot;icon&quot;&gt;
                &lt;span&gt;&lt;i class=&quot;fas fa-envelope&quot;&gt;&lt;/i&gt;&lt;/span&gt;
                &lt;span class=&quot;icon-badge&quot;&gt;5&lt;/span&gt;
              &lt;/span&gt;
              &lt;span class=&quot;icon&quot;&gt;
                &lt;span&gt;&lt;i class=&quot;fas fa-shopping-cart&quot;&gt;&lt;/i&gt;&lt;/span&gt;
                &lt;span class=&quot;icon-badge&quot;&gt;5&lt;/span&gt;
              &lt;/span&gt;
    </code>
   </pre>
  </div>
        <h3 class="sub-heading">Below is as example for badge on Avatars.</h3>
        <section class="component">
          <div class="badge-container">
            <div>
          <div class="avatar">
            <span class='avatar__badge'>
            <img src="https://images.unsplash.com/photo-1463453091185-61582044d556?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="person" class='avatar-vlarge circle'>
            
            <span class='avatar-badge'>21</span>

            </span>
            
            <span class="avatar__badge">
               <img src="https://images.unsplash.com/photo-1508214751196-bcfd4ca60f91?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="person" class="avatar-large circle">
              <span class='avatar-badge'>21</span>
            </span>

            <span class="avatar__badge">
              <img src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80" alt="person" class="avatar-medium circle">
              <span class='avatar-badge'>21</span>
            </span>
        </div>
          </div>
        </section>
        <div class="code-snippet">
   <pre class="code-prism">
    <code class='language-html'>
          &lt;div class=&quot;avatar&quot;&gt;
            &lt;span class=&apos;avatar__badge&apos;&gt;
            &lt;img src=&quot;https://images.unsplash.com/photo-1463453091185-61582044d556?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=870&amp;q=80&quot; alt=&quot;person&quot; class=&apos;avatar-vlarge circle&apos;&gt;
            
            &lt;span class=&apos;avatar-badge&apos;&gt;21&lt;/span&gt;

            &lt;/span&gt;
            
            &lt;span class=&quot;avatar__badge&quot;&gt;
               &lt;img src=&quot;https://images.unsplash.com/photo-1508214751196-bcfd4ca60f91?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=870&amp;q=80&quot; alt=&quot;person&quot; class=&quot;avatar-large circle&quot;&gt;
              &lt;span class=&apos;avatar-badge&apos;&gt;21&lt;/span&gt;
            &lt;/span&gt;

            &lt;span class=&quot;avatar__badge&quot;&gt;
              &lt;img src=&quot;https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=464&amp;q=80&quot; alt=&quot;person&quot; class=&quot;avatar-medium circle&quot;&gt;
              &lt;span class=&apos;avatar-badge&apos;&gt;21&lt;/span&gt;
            &lt;/span&gt;
        &lt;/div&gt;
    </code>
   </pre>
  </div>
      </main>
      <div class="sidebar">
        <!-- Get Started List Start -->
        <div>
          <div class="list-topic">
            <a href="#"> Get Started </a>
          </div>
          <ul class="list-subtopic">
            <li>
              <a href="/get-started/introduction.html"> Introduction </a>
            </li>
          </ul>
        </div>
        <!-- Components List start -->
        <div>
          <div class="list-topic">
            <a href="#">Components</a>
          </div>
          <ul class="list-subtopic">
            <li>
              <a href="/components/avatar/avatar.html"> Avatar </a>
            </li>
            <li>
              <a href="/components/alert/alert.html"> Alert </a>
            </li>
            <li>
              <a href="/components/badge/badge.html"> Badge </a>
            </li>
            <li>
              <a href="/components/button/button.html"> Button </a>
            </li>
            <li>
              <a href="/components/cards/cards.html"> Card </a>
            </li>
            <li>
              <a href="/components/images/images.html"> Image </a>
            </li>
            <li>
              <a href="/components/input/input.html"> Input </a>
            </li>
            <li>
              <a href="/components/navigation/navigation.html"> Navigation </a>
            </li>
            <li>
              <a href="/components/rating/rating.html"> Rating </a>
            </li>
            <li>
              <a href="/components/modal/modal.html"> Modal </a>
            </li>
            <li>
              <a href="/components/typography/typography.html"> Typography </a>
            </li>
            <li>
              <a href="/components/list/list.html"> List </a>
            </li>
            <li>
              <a href="/components/toast/toast.html"> Toast </a>
            </li>
            <li>
              <a href="/components/grid/grid.html"> Grid </a>
            </li>
            <li>
              <a href="/components/slider/slider.html"> Slider </a>
            </li>
          </ul>
        </div>
      </div>

      <footer class="footer">
        <li><a href="/components/alert/alert.html">< Prev Page</a></li>
        <li><a href="/components/button/button.html">Next Page ></a></li>
      </footer>
    </div>
    <script src="/css/prism/prism.js"></script>
  </body>
</html>
