:root {
  --border-color: rgb(0, 0, 0);
  --danger-bg-color: rgb(184, 12, 0);
  --warning-bg-color: rgb(233, 115, 18);
  --success-bg-color: rgba(144, 221, 99, 0.671);
  --danger-color: rgb(245, 15, 0);
  --warning-color: rgb(230, 217, 198);
  --success-color: rgb(31, 187, 44);
  --badge-bg-color: rgb(255, 0, 0);
  --badge-color: rgb(255, 255, 255);
  --btn-bg-color: rgb(190, 56, 173);
  --icon-bg-color: rgb(184, 184, 184);
  --icon-bg-active-color: rgb(105, 105, 105);
  --primary-bg-color: rgb(0, 99, 119);
  --btn-color: rgb(255, 255, 255);
  --btn-bg-hover: #00607391;
  --btn-outline-color: rgb(156, 162, 168);
  --primary-color: rgb(255, 255, 255);
  --secondary-color: rgb(132, 132, 138);
  --complementary-color: rgb(0, 0, 0);
  --background-color: rgb(211, 223, 226);
  --card-bg-color: #f0f0f0c5;
  --badge-bg-color: rgba(171, 171, 201, 0.493);
  --price-tag-color: rgb(109, 108, 108);
  --btn-bg-color: rgb(203, 203, 206);
  --shadow-color: rgb(177, 175, 175);
  --input-bd-error: rgb(230, 48, 48);
  --input-bd-warning: rgb(255, 174, 34);
  --input-bd-success: rgb(5, 150, 105);
  --textbox-bg-color: rgb(231, 222, 222);
  --nav-bg-color:rgb(241, 241, 241);
  --nav-logo-color:rgb(51, 51, 51);
  --link-color:rgb(133, 130, 130);
  --active-link-color:rgb(85, 85, 85);
  --active-bg-color:rgb(113, 122, 119);
  --rating-star-color:rgb(255, 255, 0);
  --modal-bg-color:rgb(241, 236, 236);
  --modal-card-shadow:rgba(0, 0, 0, 0.2);
  --modal-body-color:rgba(0, 0, 0, 0.9);
  --red-color: rgb(255, 0, 0);
  --gray-color:rgb(128,128,128);
  --green-color:rgb(0,128,0);
}
